@charset "UTF-8";

html {
  /* stylelint-disable-line */
  /*margin-right: 20px;
  margin-left: 20px;*/
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-family: 'Barlow';
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

body{

  background-color: #c0c0c0;
}


section{
/*  background-color: #777;*/
  background-image: -webkit-linear-gradient(#999, #555);
  background-image: -o-linear-gradient(#999, #555);
  background-image: linear-gradient(#999, #555);
  display: flex;
  /*flex-wrap: wrap;*/
/*  border-bottom: 3px solid #555;*/
  justify-content: center;
  align-items: center;
  padding-left:30px;
  padding-top: 20px;
  padding-bottom: 20px;

  /*max-height: 25%;*/
}

img{
  max-width: 200px;
  height: auto;
  border-radius: 100%;
  border: 4px solid #000;
}

h1{
  color: black;
  margin: 20px;
}


h2{

}

h3{
  margin-bottom: 0;
}
h4{
  margin: 20px;
  font: Roboto;
}

h5{
  margin-top: 5px;
}

footer{

  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  /*position: absolute;*/
  width: 100%;
  bottom: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.lang img{
max-width: 40px;
border: 0;
margin-top: 10px;
margin-left: 20px;
}

p.text{
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 10;
}

p.logoText{
  font-size: 20px;
}

p.date{
  color: #696969;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-info{
  margin-left: 20px;
}

.skills-logo {
    font-size: 25px;
}

.skills{
  font-size: 20px;
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #555;
}

.skills-lang{
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #555;
}

.contact-info{
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #555;
}

.text-head{
  flex: 1;
}

.row{
/*  float: left;
  width: -webkit-fill-available;*/
  display: flex;
}

.column1{
  /*float: left;*/
  /*width: 25%;*/
  margin-left : 20px;
  /*text-align: center;*/
  border-right: 2px solid #555;
}

.column2{
  /*float: left;*/
  width: 70%;
  /*border-left: 2px solid #555;*/
  padding-left: 30px;;
}

#icon{
  border-radius: 0%;
  padding: 0px;
  width: 30px;
  border: 0px;
}

#icon-flag{
  width: 40px;
  border: 2px solid ;
}

#icon-footer{
  border-radius: 0%;
  padding: 10px;
  width: 30px;
  border: 0px;
}



/*@media (max-width: 900px) {
  .column2{
    max-width: 900px;
    float: none;
    margin-left: auto;
  }
}
@media (min-width 30em){

}*/
@media (max-width: 600px) {
  html {

  }

  h2{
    margin: 0;
  }

  section{
    display: block;
    text-align: center;
    padding-left: 0px;
  }

  h4{
    margin: 0;
  }
  .row{
    /*
    display: inline-flex;*/
    flex-direction: column;

  }
  .skills-logo{
    font-size: 20px;
    margin: 0;
  }

  .skills{
    margin: 0;
    margin-right: 20px;
  }

  .skills-lang{
    margin-left: 0px;
    margin-right: 20px;
  }

  .contact-info{
    margin: 0;
    margin-right: 20px;
  /*  border-bottom: 2px solid #555;*/
  }

  .column1{
    border: 0;
  }

  .column2{
    max-width: 380px;
    /*float: none;*/
    border: 0px;
    /*flex-direction: column;*/
  }

}
